*{
    padding: 0;
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

li{
    list-style: none;
    padding: 40px;
}

body{
    background-color: #E9DAC1;
}

.header__header{
    display: flex;
    background: rgb(34,193,195);
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    align-items: center;
    justify-content: center;
}

.ul__menu{
    display: flex;
    flex-wrap: wrap;
}

.footer__footer{
    display: flex;
    background-color: #F7ECDE;
    align-items: center;
    justify-content: center;
}

.ul__footer{
    display: flex;
    flex-wrap: wrap;

}

.grid__container div{
    width: 75%;
    margin: 10px;
    
}

.grid__container div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.div__grid img, .grid__container img{
    width: 75%;
    margin: 10px;
    
}

.grid__container img:hover{
    transform: scale(1.2);
}